@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

.navbar{
    background: rga(0,0,0,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    

    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 200px;
    z-index: 0;
}
.navbar::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0,0,0,0));
    z-index: -1;
}
.n-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    z-index: 10;
}
.n-cont img{
    height: 70px;
}

.n-link{
    list-style: none;
    display: flex;
    gap: 50px;
}

.n-link a{
    text-decoration: none;
    color: #fff;
}

.n-link a:hover{
    color: #d6d6d6;
}

#hero{
    color: #fff;
    background-image: url(components/assets/pexels-pixabay-161758.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h-cont h1{
    z-index: 100;
    font-size: 120px;
}

.h-cont h3{
    font-family: "Cormorant Garamond", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: italic;
}

.line-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.line-cont .line{
    width: 100%;
    margin-top: 20px;
    max-width: 300px;
    border-top: solid 2px;
    border-color: #fff;
}

.line-cont img{
    margin-top: 20px;
    height: 40px;
}

#book-form{
    position: relative;
    top: 180px;
    background-color: #d6d6d6;
    border-radius: 10px;
    padding: 40px 70px;
    padding-bottom: 4%;

    display: flex;
    justify-content: center;
    gap: 40px;
}
.d-slot{
    color: #161616;
    flex-direction: column;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

#in-date, #out-date{
    
    width: 150px;
    height: 50px;

    border-radius: 5px;
    border: 1px solid #aaaaaa;

    color: #777777;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
}
.d-slot label{
    font-size: 20px;
    padding-left: 5px;
}

.d-slot input{
    background: none;
    background-color: #fff;
    color: #333;
}

#rooms, #adults, #children{
    width: 90px;
    height:50px;

    border-radius: 5px;
    border: 1px solid #aaaaaa;

    color: #777777;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
}

#book-form button{
    height: 50px;
    width: 140px;
    margin-top: 27px;
    background-color: #773512;
    border-radius: 10px;
    border: none;

    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

#booking{
    color: #fff;
    background-image: url(components/assets/pexels-chris-f-38966-21629423.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.sub-book{
    color: #191919;
}


@media (max-width: 786px){
    
}