@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.roboto{
    font-family: "Roboto", sans-serif;
}

.navbar{
    font-family: "Inter", sans-serif;
    background: rga(0,0,0,0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px); 
    

    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 200px;
    z-index: 0;
}

.li-b{
    position: relative;
    height: 50px;
    width: 140px;
    background-color: #773512;
    border-radius: 5px;
    border: 2px solid #fff;

    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    font-weight: 700;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0,0,0,0));
    z-index: -1;
}
.n-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    z-index: 100;
}
.n-cont img{
    height: 70px;
}

.n-link .li-c a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;

  text-decoration: none;
  color: #fff;

  position: relative;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;

  transition: color 0.2s ease;
  z-index: 101;
}

.n-link .li-c a::before {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;

  transform: scale(0.95);
  transform-origin: center;
  transition: transform 0.22s ease, opacity 0.22s ease;

  opacity: 0;
  z-index: -1;
}

.n-link .li-c a:hover::before {
  transform: scale(1.02);
  opacity: 1;
}

.n-link .li-c{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-link{
    list-style: none;
    display: flex;
    gap: 40px;
}

.n-link a{
    text-decoration: none;
    color: #fff;
}

#hero{
    color: #fff;
    background-image: url(components/assets/hotel/hero/hero-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h-cont h1{
    z-index: 100;
    font-size: 120px;
}

.h-cont h3{
    font-family: "Cormorant Garamond", serif;
    font-weight: 100;
    font-size: 50px;
    font-style: italic;
}

.line-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}

.line-cont .line{
    width: 100%;
    margin-top: 20px;
    max-width: 300px;
    border-top: solid 2px;
    border-color: #fff;
}

.line-cont img{
    margin-top: 20px;
    height: 40px;
}

#book-form{
    position: relative;
    top: 180px;
    background-color: #d6d6d6;
    border-radius: 10px;
    padding: 40px 70px;
    padding-bottom: 4%;

    display: flex;
    justify-content: center;
    gap: 40px;
}
.d-slot{
    color: #161616;
    flex-direction: column;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

#in-date, #out-date{
    
    width: 150px;
    height: 50px;

    border-radius: 5px;
    border: 1px solid #aaaaaa;

    color: #777777;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
}
.d-slot label{
    font-size: 20px;
    padding-left: 5px;
}

.d-slot input{
    background: none;
    background-color: #fff;
    color: #333;
}

#rooms, #adults, #children{
    width: 90px;
    height:50px;

    border-radius: 5px;
    border: 1px solid #aaaaaa;

    color: #777777;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Inter", sans-serif;
}

#book-form button{
    height: 50px;
    width: 140px;
    margin-top: 27px;
    background-color: #773512;
    border-radius: 10px;
    border: none;

    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

#logos{
    background-color: #fff;
    font-family: "Inter", sans-serif;
    margin-top: 100px;
}

.l-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 150px;

    margin-bottom: 3px;
}

.logo-s img{
    height: 100px;
}
.logo-s h3{
    margin-top: 10px;
    font-size: 30px;
}
.logo-s h2{
    margin-top: 10px;
    font-size: 40px;
}
.logo-b img{
    height: 150px;
}
.logo-b h3{
    margin-top: 10px;
    font-size: 30px;
}
.logo-b h2{
    margin-top: 10px;
    font-size: 40px;
}
#roomsC{
    background-color: #fff;
    font-family: "Inter", sans-serif;
    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    padding-top: 150px;
    padding-bottom: 200px;
}

#roomsC h2{
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 40px;
}
#roomsC p{
    color: #191919;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 5px;
}
.r-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.r-slot{
    display: flex;
}

.r-slot img{
    border-radius: 10px;
    object-fit: cover;
    object-position: 70% 0%;
    height: 400px;
    width: 400px;

    box-shadow: -50px 100px 0 0 #f5f5f5;
    margin: 20px;
}

.r-slot a{
    color: #474747;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}

.decoF{
    z-index: 2;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#amenities{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
}

.a-intro{
    font-family: "Inter", sans-serif;
    position: relative;
    z-index: 100;
    text-align: center;
    margin-bottom: 100px;
}

.a-intro h2{
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.a-intro p{
    margin: 0;

    color: #191919;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 5px;
}
.a-cont{
    z-index: 1;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    transform: translateX(-70px);
}
.a-slots{
    z-index: 1;
}

.sqr{
    position: absolute;
    transform: translate(340px, -150px);
    background-color: #f5f5f5;
    border-radius: 10px;
    top: 100px;
    width: 60%;
    height: 120%;
    z-index: 0;
}

.a-img{
    height: 500px;
    border-radius: 10px;
    z-index: 2;
}

.amenS{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #773512;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.a-icon{
    height: 40px;
}

#booking{
    color: #fff;
    background-image: url(components/assets/pexels-chris-f-38966-21629423.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sub-book{
    color: #191919;
}

@media (max-width: 786px){
    
}