<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hotel Castle of Sant Angelo">
        <meta name="author" content="Morg.Dev">

        <title>Hotel Castle of Angelo Marco - Five Star Hotel</title>

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <nav class="navbar roboto">
                <div class="n-cont">
                    <img src="/components/assets/logo-white.png" alt="">
                    <ul class="n-link">
                        <li><a href="#hero">Home</a></li>
                        <li><a href="#rooms">Rooms</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="booking">
            <div class="h-cont">
                <div class="h-deco">
                    <h1 class="roboto">Booking</h1>
                    <h3>"The best confort stay."</h3>
                    <div class="line-cont">
                        <div class="line"></div>
                        <img src="/components/assets/lottus-icon.png" alt="">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="sub-book">
                <p>We're more than just a room</p>
                <p>Book your stay with us, and you'll be happy to come back</p>
            </div>
        </section>
    </body>
</html>